In [1]:
import pandas as pd

In [3]:
demo = pd.read_csv("../data/raw/demographic.csv")

In [9]:
df_demo = demo[["RIDRETH3", "RIAGENDR", "RIDAGEYR", "DMDEDUC2", "DMDMARTL", "DMDHHSIZ", "INDFMPIR", "SEQN"]]

In [10]:
df_demo.isnull().sum()

RIDRETH3       0
RIAGENDR       0
RIDAGEYR       0
DMDEDUC2    4406
DMDMARTL    4406
DMDHHSIZ       0
INDFMPIR     785
SEQN           0
dtype: int64

In [12]:
df_demo.loc[:, "DMDEDUC2"] = df_demo["DMDEDUC2"].fillna(df_demo["DMDEDUC2"].mode()[0])
df_demo.loc[:, "DMDMARTL"] = df_demo["DMDMARTL"].fillna(df_demo["DMDMARTL"].mode()[0])
df_demo.loc[:, "INDFMPIR"] = df_demo["INDFMPIR"].fillna(df_demo["INDFMPIR"].median())

In [13]:
exam = pd.read_csv("../data/raw/examination.csv")

In [15]:
exam_selected = exam[["SEQN", "BMXBMI", "BPXSY1", "BPXDI1"]].copy()

In [16]:
exam_selected.isnull().sum()

SEQN         0
BMXBMI     758
BPXSY1    2641
BPXDI1    2641
dtype: int64

In [17]:
exam_selected.loc[:, "BMXBMI"] = exam_selected["BMXBMI"].fillna(exam_selected["BMXBMI"].median())
exam_selected.loc[:, "BPXSY1"] = exam_selected["BPXSY1"].fillna(exam_selected["BPXSY1"].median())
exam_selected.loc[:, "BPXDI1"] = exam_selected["BPXDI1"].fillna(exam_selected["BPXDI1"].median())

In [18]:
labs = pd.read_csv("../data/raw/labs.csv")

In [21]:
labs_selected = labs[["SEQN", "LBDLDL", "LBXTC"]].copy()

In [22]:
labs_selected.isnull().sum()

SEQN         0
LBDLDL    6708
LBXTC     2189
dtype: int64

In [23]:
labs_selected.loc[:, "LBDLDL"] = labs_selected["LBDLDL"].fillna(labs_selected["LBDLDL"].median())
labs_selected.loc[:, "LBXTC"] = labs_selected["LBXTC"].fillna(labs_selected["LBXTC"].median())

In [24]:
merged_base = df_demo.merge(exam_selected, on = "SEQN", how = "inner")
merged_base = merged_base.merge(labs_selected, on = "SEQN", how = "inner")

In [25]:
merged_base.head()

,RIDRETH3,RIAGENDR,RIDAGEYR,DMDEDUC2,DMDMARTL,DMDHHSIZ,INDFMPIR,SEQN,BMXBMI,BPXSY1,BPXDI1,LBDLDL,LBXTC
0,4,1,69,3.0,4.0,3,0.84,73557,26.7,122.0,72.0,103.0,167.0
1,3,1,54,3.0,1.0,4,1.78,73558,28.6,156.0,62.0,103.0,170.0
2,3,1,72,4.0,1.0,2,4.51,73559,28.9,140.0,90.0,56.0,126.0
3,3,1,9,4.0,1.0,4,2.52,73560,17.1,108.0,38.0,103.0,168.0
4,3,2,73,5.0,1.0,2,5.00,73561,19.7,136.0,86.0,101.0,201.0

In [26]:
merged_base.shape

(9813, 13)

In [27]:
merged_base.to_csv("../data/processed/base_patient_data.csv", index = False)