In [1]:
import pandas as pd

In [2]:
base = pd.read_csv("../data/processed/base_plus_diet.csv")

In [3]:
base.shape

(9813, 22)

In [4]:
base.head()

,RIDRETH3,RIAGENDR,RIDAGEYR,DMDEDUC2,DMDMARTL,DMDHHSIZ,INDFMPIR,SEQN,BMXBMI,BPXSY1,...,LBXTC,DR1TKCAL,DR1TPROT,DR1TCARB,DR1TSUGR,DR1TTFAT,DR1TSODI,DR1TFIBE,DR1TCHOL,DR1TALCO
0,4,1,69,3.0,4.0,3,0.84,73557,26.7,122.0,...,167.0,1574.0,43.63,239.59,176.47,52.81,1323.0,10.8,209.0,0.0
1,3,1,54,3.0,1.0,4,1.78,73558,28.6,156.0,...,170.0,5062.0,338.13,423.78,44.99,124.29,9726.0,16.7,2584.0,119.0
2,3,1,72,4.0,1.0,2,4.51,73559,28.9,140.0,...,126.0,1743.0,64.61,224.39,102.90,65.97,2943.0,9.9,88.0,0.0
3,3,1,9,4.0,1.0,4,2.52,73560,17.1,108.0,...,168.0,1490.0,77.75,162.92,80.58,58.27,2745.0,10.6,187.0,0.0
4,3,2,73,5.0,1.0,2,5.00,73561,19.7,136.0,...,201.0,1421.0,55.24,178.20,87.78,55.36,797.0,12.3,41.0,0.0

In [7]:
med = pd.read_csv("../data/raw/medications.csv", encoding = "latin1")

In [8]:
med.shape

(20194, 13)

In [9]:
med.columns

Index(['SEQN', 'RXDUSE', 'RXDDRUG', 'RXDDRGID', 'RXQSEEN', 'RXDDAYS',
       'RXDRSC1', 'RXDRSC2', 'RXDRSC3', 'RXDRSD1', 'RXDRSD2', 'RXDRSD3',
       'RXDCOUNT'],
      dtype='object')

In [10]:
med_summary = med.groupby("SEQN").agg(
    num_meds = ("RXDCOUNT", "max"),
    any_med_use = ("RXDUSE", lambda x: 1 if (x == 1).any() else 0)
).reset_index()

In [11]:
med_summary.head()

    SEQN  num_meds  any_med_use
0  73557       2.0            1
1  73558       4.0            1
2  73559       5.0            1
3  73560       NaN            0
4  73561       4.0            1

In [13]:
med_summary.shape

(10175, 3)

In [14]:
med_summary["num_meds"] = med_summary["num_meds"].fillna(0)

In [15]:
med_summary.isnull().sum()

SEQN           0
num_meds       0
any_med_use    0
dtype: int64

In [17]:
merged_med = base.merge(med_summary, on = "SEQN", how = "inner")

In [18]:
merged_med.head()

,RIDRETH3,RIAGENDR,RIDAGEYR,DMDEDUC2,DMDMARTL,DMDHHSIZ,INDFMPIR,SEQN,BMXBMI,BPXSY1,...,DR1TPROT,DR1TCARB,DR1TSUGR,DR1TTFAT,DR1TSODI,DR1TFIBE,DR1TCHOL,DR1TALCO,num_meds,any_med_use
0,4,1,69,3.0,4.0,3,0.84,73557,26.7,122.0,...,43.63,239.59,176.47,52.81,1323.0,10.8,209.0,0.0,2.0,1
1,3,1,54,3.0,1.0,4,1.78,73558,28.6,156.0,...,338.13,423.78,44.99,124.29,9726.0,16.7,2584.0,119.0,4.0,1
2,3,1,72,4.0,1.0,2,4.51,73559,28.9,140.0,...,64.61,224.39,102.90,65.97,2943.0,9.9,88.0,0.0,5.0,1
3,3,1,9,4.0,1.0,4,2.52,73560,17.1,108.0,...,77.75,162.92,80.58,58.27,2745.0,10.6,187.0,0.0,0.0,0
4,3,2,73,5.0,1.0,2,5.00,73561,19.7,136.0,...,55.24,178.20,87.78,55.36,797.0,12.3,41.0,0.0,4.0,1

In [19]:
merged_med.shape

(9813, 24)

In [20]:
merged_med.isnull().sum()

RIDRETH3       0
RIAGENDR       0
RIDAGEYR       0
DMDEDUC2       0
DMDMARTL       0
DMDHHSIZ       0
INDFMPIR       0
SEQN           0
BMXBMI         0
BPXSY1         0
BPXDI1         0
LBDLDL         0
LBXTC          0
DR1TKCAL       0
DR1TPROT       0
DR1TCARB       0
DR1TSUGR       0
DR1TTFAT       0
DR1TSODI       0
DR1TFIBE       0
DR1TCHOL       0
DR1TALCO       0
num_meds       0
any_med_use    0
dtype: int64

In [21]:
merged_med[["num_meds", "any_med_use"]].describe()

          num_meds  any_med_use
count  9813.000000  9813.000000
mean      1.399878     0.404565
std       2.516818     0.490833
min       0.000000     0.000000
25%       0.000000     0.000000
50%       0.000000     0.000000
75%       2.000000     1.000000
max      23.000000     1.000000

In [22]:
merged_med[["num_meds", "any_med_use"]].head()

   num_meds  any_med_use
0       2.0            1
1       4.0            1
2       5.0            1
3       0.0            0
4       4.0            1

In [23]:
merged_med["num_meds"].value_counts().head()

num_meds
0.0    5843
1.0    1287
2.0     719
3.0     513
4.0     389
Name: count, dtype: int64

In [24]:
merged_med.to_csv("../data/processed/base_plus_diet_medications.csv")