In [1]:
import pandas as pd

In [7]:
base = pd.read_csv("../data/processed/base_plus_diet_medications.csv")

In [8]:
base.shape

(9813, 24)

In [9]:
base.head()

,RIDRETH3,RIAGENDR,RIDAGEYR,DMDEDUC2,DMDMARTL,DMDHHSIZ,INDFMPIR,SEQN,BMXBMI,BPXSY1,...,DR1TPROT,DR1TCARB,DR1TSUGR,DR1TTFAT,DR1TSODI,DR1TFIBE,DR1TCHOL,DR1TALCO,num_meds,any_med_use
0,4,1,69,3.0,4.0,3,0.84,73557,26.7,122.0,...,43.63,239.59,176.47,52.81,1323.0,10.8,209.0,0.0,2.0,1
1,3,1,54,3.0,1.0,4,1.78,73558,28.6,156.0,...,338.13,423.78,44.99,124.29,9726.0,16.7,2584.0,119.0,4.0,1
2,3,1,72,4.0,1.0,2,4.51,73559,28.9,140.0,...,64.61,224.39,102.90,65.97,2943.0,9.9,88.0,0.0,5.0,1
3,3,1,9,4.0,1.0,4,2.52,73560,17.1,108.0,...,77.75,162.92,80.58,58.27,2745.0,10.6,187.0,0.0,0.0,0
4,3,2,73,5.0,1.0,2,5.00,73561,19.7,136.0,...,55.24,178.20,87.78,55.36,797.0,12.3,41.0,0.0,4.0,1

In [11]:
ques = pd.read_csv("../data/raw/questionnaire.csv")

In [12]:
ques.shape

(10175, 953)

In [13]:
ques.columns

Index(['SEQN', 'ACD011A', 'ACD011B', 'ACD011C', 'ACD040', 'ACD110', 'ALQ101',
       'ALQ110', 'ALQ120Q', 'ALQ120U',
       ...
       'WHD080U', 'WHD080L', 'WHD110', 'WHD120', 'WHD130', 'WHD140', 'WHQ150',
       'WHQ030M', 'WHQ500', 'WHQ520'],
      dtype='object', length=953)

In [14]:
ques.sample(5).T.head(50) #Transpose

          5176   342    4777   4785   6614
SEQN     78733  73899  78334  78342  80171
ACD011A    1.0    1.0    1.0    1.0    1.0
ACD011B    NaN    NaN    NaN    NaN    NaN
ACD011C    NaN    NaN    NaN    NaN    NaN
ACD040     NaN    NaN    NaN    NaN    NaN
ACD110     NaN    NaN    NaN    NaN    NaN
ALQ101     1.0    1.0    1.0    1.0    NaN
ALQ110     NaN    NaN    NaN    NaN    NaN
ALQ120Q    2.0    6.0    4.0    5.0    NaN
ALQ120U    1.0    3.0    3.0    3.0    NaN
ALQ130     3.0    2.0    4.0    3.0    NaN
ALQ141Q   10.0    0.0    4.0    1.0    NaN
ALQ141U    3.0    NaN    3.0    3.0    NaN
ALQ151     1.0    2.0    2.0    2.0    NaN
ALQ160     0.0    NaN    0.0    0.0    NaN
BPQ020     2.0    1.0    2.0    2.0    NaN
BPQ030     NaN    1.0    NaN    NaN    NaN
BPD035     NaN   45.0    NaN    NaN    NaN
BPQ040A    NaN    1.0    NaN    NaN    NaN
BPQ050A    NaN    1.0    NaN    NaN    NaN
BPQ056     2.0    1.0    2.0    2.0    NaN
BPD058     NaN    3.0    NaN    NaN    NaN
BPQ059     2.0    2.0    2.0    2.0    NaN
BPQ080     2.0    2.0    2.0    2.0    NaN
BPQ060     1.0    1.0    2.0    1.0    NaN
BPQ070     2.0    1.0    NaN    2.0    NaN
BPQ090D    2.0    1.0    NaN    2.0    NaN
BPQ100D    NaN    1.0    NaN    NaN    NaN
CBD070   120.0    0.0  368.0  857.0  428.0
CBD090     0.0    0.0    0.0  128.0    0.0
CBD110     0.0  315.0    0.0    0.0  214.0
CBD120    85.0  200.0    0.0  642.0  214.0
CBD130     0.0    0.0    0.0    0.0    0.0
HSD010     2.0    4.0    3.0    2.0    NaN
HSQ500     2.0    1.0    2.0    2.0    2.0
HSQ510     2.0    2.0    2.0    2.0    2.0
HSQ520     2.0    2.0    2.0    2.0    2.0
HSQ571     2.0    2.0    2.0    2.0    NaN
HSQ580     NaN    NaN    NaN    NaN    NaN
HSQ590     2.0    2.0    2.0    1.0    NaN
HSAQUEX    2.0    2.0    2.0    2.0    1.0
CSQ010     NaN    2.0    NaN    2.0    NaN
CSQ020     NaN    3.0    NaN    3.0    NaN
CSQ030     NaN    1.0    NaN    2.0    NaN
CSQ040     NaN    2.0    NaN    2.0    NaN
CSQ060     NaN    NaN    NaN    NaN    NaN
CSQ070     NaN    NaN    NaN    NaN    NaN
CSQ080     NaN    2.0    NaN    2.0    NaN
CSQ090A    NaN    3.0    NaN    3.0    NaN
CSQ090B    NaN    3.0    NaN    3.0    NaN

In [15]:
ques.isnull().sum().sort_values(ascending = False).head(20)

MCQ240I     10175
MCQ240R     10175
SMQ861      10175
SMQ690J     10175
MCQ240V     10174
OSQ040BH    10174
OSD030BG    10174
OSD050CB    10174
OSQ040BJ    10174
PAQ759T     10174
OSD030BJ    10174
OSQ040BI    10174
OSD030BI    10174
OSQ040BG    10174
OSD030BH    10174
MCQ230D     10173
OSQ100G     10173
OSQ090H     10173
OSQ040BF    10173
OSD030BF    10173
dtype: int64

In [16]:
ques_filtered = ques.dropna(thresh = 100, axis = 1)

In [17]:
ques_filtered.shape

(10175, 703)

In [18]:
important_cols = [col for col in ques_filtered.columns if col.startswith(("SMQ", "ALQ", "DIQ", "MCQ", "BPQ", "PAQ"))]

In [19]:
len(important_cols), important_cols[:30]

(190,
 ['ALQ101',
  'ALQ110',
  'ALQ120Q',
  'ALQ120U',
  'ALQ130',
  'ALQ141Q',
  'ALQ141U',
  'ALQ151',
  'ALQ160',
  'BPQ020',
  'BPQ030',
  'BPQ040A',
  'BPQ050A',
  'BPQ056',
  'BPQ059',
  'BPQ080',
  'BPQ060',
  'BPQ070',
  'BPQ090D',
  'BPQ100D',
  'DIQ010',
  'DIQ160',
  'DIQ170',
  'DIQ172',
  'DIQ175A',
  'DIQ175B',
  'DIQ175C',
  'DIQ175D',
  'DIQ175G',
  'DIQ175H'])

In [20]:
selected_ques_cols = [
    "SEQN",
    "ALQ101",
    "ALQ130",
    "BPQ020",
    "BPQ030",
    "DIQ010",
    "DIQ160",
    "PAQ650",
    "SMQ020"
]

In [21]:
ques_selected = ques_filtered[selected_ques_cols].copy()

In [22]:
ques_selected.head()

    SEQN  ALQ101  ALQ130  BPQ020  BPQ030  DIQ010  DIQ160  PAQ650  SMQ020
0  73557     1.0     1.0     1.0     1.0     1.0     NaN     2.0     1.0
1  73558     1.0     4.0     1.0     1.0     1.0     NaN     2.0     1.0
2  73559     1.0     NaN     1.0     1.0     1.0     NaN     2.0     1.0
3  73560     NaN     NaN     NaN     NaN     2.0     NaN     NaN     NaN
4  73561     1.0     NaN     1.0     2.0     2.0     2.0     2.0     2.0

In [23]:
binary_cols = ["ALQ101", "BPQ020", "BPQ030", "DIQ010", "PAQ650", "SMQ020"]
ques_selected[binary_cols] = ques_selected[binary_cols].fillna(ques_selected[binary_cols].mode().iloc[0])

In [24]:
ques_selected["ALQ130"] = ques_selected["ALQ130"].fillna(ques_selected["ALQ130"].median())
ques_selected["DIQ160"] = ques_selected["DIQ160"].fillna(ques_selected["DIQ160"].median())

In [25]:
ques_selected.head()

    SEQN  ALQ101  ALQ130  BPQ020  BPQ030  DIQ010  DIQ160  PAQ650  SMQ020
0  73557     1.0     1.0     1.0     1.0     1.0     2.0     2.0     1.0
1  73558     1.0     4.0     1.0     1.0     1.0     2.0     2.0     1.0
2  73559     1.0     2.0     1.0     1.0     1.0     2.0     2.0     1.0
3  73560     1.0     2.0     2.0     1.0     2.0     2.0     2.0     2.0
4  73561     1.0     2.0     1.0     2.0     2.0     2.0     2.0     2.0

In [26]:
ques_selected.isnull().sum()

SEQN      0
ALQ101    0
ALQ130    0
BPQ020    0
BPQ030    0
DIQ010    0
DIQ160    0
PAQ650    0
SMQ020    0
dtype: int64

In [27]:
merged_all = base.merge(ques_selected, on = "SEQN", how = "inner")

In [28]:
merged_all.shape

(9813, 32)

In [29]:
merged_all.head()

,RIDRETH3,RIAGENDR,RIDAGEYR,DMDEDUC2,DMDMARTL,DMDHHSIZ,INDFMPIR,SEQN,BMXBMI,BPXSY1,...,num_meds,any_med_use,ALQ101,ALQ130,BPQ020,BPQ030,DIQ010,DIQ160,PAQ650,SMQ020
0,4,1,69,3.0,4.0,3,0.84,73557,26.7,122.0,...,2.0,1,1.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0
1,3,1,54,3.0,1.0,4,1.78,73558,28.6,156.0,...,4.0,1,1.0,4.0,1.0,1.0,1.0,2.0,2.0,1.0
2,3,1,72,4.0,1.0,2,4.51,73559,28.9,140.0,...,5.0,1,1.0,2.0,1.0,1.0,1.0,2.0,2.0,1.0
3,3,1,9,4.0,1.0,4,2.52,73560,17.1,108.0,...,0.0,0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0
4,3,2,73,5.0,1.0,2,5.00,73561,19.7,136.0,...,4.0,1,1.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0

In [31]:
merged_all.to_csv("../data/processed/full_patient_dataset.csv", index = False)